<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	
  <title>The Newsworthy</title>
  
  <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

   

</head>



<body>
<!-- Navigation for all pages -->
    <nav id="myNavbar" class="navbar navbar-default navbar-fixed-top" style="background-color:#FFF;border:none;" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"> The News Worthy </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                   
                    <li><a href="/">How it Works</li></a>
                    
                    
                </ul>

            </div><!-- /.navbar-collapse -->
        </div>
    </nav>


    
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <img class="betaImg" src="/images/beta.png">
        </div>
        <div class="col-xs-12">
            <h1 class="newsworthy">The News Worthy</h1>
        </div>
    </div>
</div> 


 <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p class="intro-header">Text me links and I'll remind you later at 9pm.</p>
        </div>
    </div>
</div>   

<hr>


 <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p class="saveNum">Save this number in your contacts and share links.</p>
            <p class="saveNum">(650)389-5329</p>
        </div>
    </div>
</div>

<hr>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p class="saveNum">How it Works</p>
        </div>    
    </div>
  
    
     <div class="row">
            <div class="col-xs-12 col-md-4">
                <p class="howWorks">1. Text a link to The News Worthy Contact</p>
            </div>
  
            <div class="col-xs-12 col-md-4">
                <p class="howWorks">2. Recieve the link back at 9pm.</p>
            </div>
   
            <div class="col-xs-12 col-md-4">
                <p class="howWorks">3. Open the link and enjoy! </p>
            </div>
    </div>
 </div>

<footer class="footer">
      <div class="container">
        <p class="text-muted">&copy;The News Worthy 2015</p>
      </div>
    </footer>
  



</body>
</html>